/* 프로필 간략 */

position: relative;
width: 1250px;
height: 891px;
left: calc(50% - 1250px/2);
top: 189px;



/* MyPage_Main_content */

box-sizing: border-box;

position: absolute;
width: 903px;
height: 845px;
left: calc(50% - 903px/2 + 173.5px);
top: calc(50% - 845px/2 - 23px);

background: #FFFFFF;
border: 1px solid rgba(0, 0, 0, 0.3);
border-radius: 15px;


/* 마이페이지 */

position: absolute;
width: 173px;
height: 54px;
left: calc(50% - 173px/2 - 291px);
top: calc(50% - 54px/2 - 375.5px);

font-family: 'Noto Sans KR';
font-style: normal;
font-weight: 400;
font-size: 36px;
line-height: 52px;

color: #000000;



/* Line 14 */

position: absolute;
width: 760px;
height: 0px;
left: calc(50% - 760px/2 + 2.5px);
top: calc(50% - 0px/2 - 327.5px);

border: 0.5px solid rgba(0, 0, 0, 0.3);


/* 내 최근 모임 */

position: absolute;
width: 105px;
height: 31px;
left: calc(50% - 105px/2 - 325px);
top: calc(50% - 31px/2 - 277px);

font-family: 'Noto Sans KR';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 29px;

color: #000000;



/* Line 15 */

position: absolute;
width: 760px;
height: 0px;
left: calc(50% - 760px/2 + 2.5px);
top: calc(50% - 0px/2 - 104.5px);

border: 0.5px solid rgba(0, 0, 0, 0.3);


/* 찜 */

position: absolute;
width: 20px;
height: 30px;
left: calc(50% - 20px/2 - 367.5px);
top: calc(50% - 30px/2 - 61.5px);

font-family: 'Noto Sans KR';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 29px;

color: #000000;



/* 결제 내역 */

position: absolute;
width: 125px;
height: 30px;
left: calc(50% - 125px/2 - 315px);
top: calc(50% - 30px/2 + 158.5px);

font-family: 'Noto Sans KR';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 29px;

color: #000000;



/* Line 16 */

position: absolute;
width: 766px;
height: 0px;
left: calc(50% - 766px/2 - 0.5px);
top: calc(50% - 0px/2 + 122.5px);

border: 0.5px solid rgba(0, 0, 0, 0.3);


/* Group 28 */

position: absolute;
width: 124.89px;
height: 158.2px;
left: 247.01px;
top: 130px;



/* Frame 11 */

position: absolute;
width: 124.89px;
height: 124.89px;
left: 247.01px;
top: 130px;

background: #FFFFFF;
border-radius: 15px;


/* image 18 */

position: absolute;
width: 125px;
height: 125px;
left: -0.01px;
top: 0px;

background: url(image);


/* ♥블랙라이어♥:: with.하이볼 무제한🍺 */

position: absolute;
width: 124.89px;
height: 18.73px;
left: 247.01px;
top: 269.46px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 15px;
line-height: 18px;
/* identical to box height */
text-align: center;

color: #FF2828;



/* Group 29 */

position: absolute;
width: 128.01px;
height: 158.2px;
left: 401.04px;
top: 130px;



/* Frame 11 */

position: absolute;
width: 124.89px;
height: 121.63px;
left: 401.04px;
top: 130px;

background: #FFFFFF;
border-radius: 15px;


/* image 19 */

position: absolute;
width: 176px;
height: 136px;
left: -25px;
top: -3px;

background: url(image.png);


/* 밥을 먹는 사람들 */

position: absolute;
width: 124.89px;
height: 21.86px;
left: 404.17px;
top: 266.34px;

font-family: 'Noto Sans KR';
font-style: normal;
font-weight: 350;
font-size: 15px;
line-height: 22px;
/* identical to box height */
text-align: center;

color: #545454;



/* Group 30 */

position: absolute;
width: 124.89px;
height: 159.24px;
left: 555.08px;
top: 130px;



/* Frame 11 */

position: absolute;
width: 124.89px;
height: 124.89px;
left: 555.08px;
top: 130px;

background: #FFFFFF;
border-radius: 15px;


/* image 22 */

position: absolute;
width: 220px;
height: 120px;
left: -50px;
top: 0px;

background: url(image.png);


/* 선착순 10분!! 상품은 */

position: absolute;
width: 121.77px;
height: 22.9px;
left: 558.2px;
top: 266.34px;

font-family: 'Noto Sans KR';
font-style: normal;
font-weight: 350;
font-size: 15px;
line-height: 22px;
text-align: center;

color: #545454;



/* Group 31 */

position: absolute;
width: 124.89px;
height: 159.24px;
left: 709.11px;
top: 130px;



/* Frame 11 */

position: absolute;
width: 124.89px;
height: 124.89px;
left: 709.11px;
top: 130px;

background: #FFFFFF;
border-radius: 15px;


/* image 18 */

position: absolute;
width: 120px;
height: 120px;
left: 32px;
top: 33px;



/* image 21 */

position: absolute;
width: 178px;
height: 119px;
left: -26px;
top: 1px;

background: url(image);


/* 리액트 때려부셔버리겠어 으아아아아아 */

position: absolute;
width: 116.57px;
height: 22.9px;
left: 717.43px;
top: 266.34px;

font-family: 'Noto Sans KR';
font-style: normal;
font-weight: 350;
font-size: 15px;
line-height: 22px;

color: #545454;



/* Group 32 */

position: absolute;
width: 124.89px;
height: 158.2px;
left: 247px;
top: 347px;



/* Frame 11 */

position: absolute;
width: 124.89px;
height: 124.89px;
left: 247px;
top: 347px;

background: #FFFFFF;
border-radius: 15px;


/* image 18 */

position: absolute;
width: 125px;
height: 125px;
left: 0px;
top: 0px;

background: url(image);


/* ♥블랙라이어♥:: with.하이볼 무제한🍺 */

position: absolute;
width: 124.89px;
height: 18.73px;
left: 247px;
top: 486.46px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 15px;
line-height: 18px;
/* identical to box height */
text-align: center;

color: #FF2828;



/* Group 33 */

position: absolute;
width: 128.01px;
height: 158.2px;
left: 401.03px;
top: 347px;



/* Frame 11 */

position: absolute;
width: 124.89px;
height: 121.63px;
left: 401.03px;
top: 347px;

background: #FFFFFF;
border-radius: 15px;


/* image 19 */

position: absolute;
width: 176px;
height: 136px;
left: -25px;
top: -3px;

background: url(image.png);


/* 밥을 먹는 사람들 */

position: absolute;
width: 124.89px;
height: 21.86px;
left: 404.16px;
top: 483.34px;

font-family: 'Noto Sans KR';
font-style: normal;
font-weight: 350;
font-size: 15px;
line-height: 22px;
/* identical to box height */
text-align: center;

color: #545454;



/* Group 34 */

position: absolute;
width: 124.89px;
height: 159.24px;
left: 555.07px;
top: 347px;



/* Frame 11 */

position: absolute;
width: 124.89px;
height: 124.89px;
left: 555.07px;
top: 347px;

background: #FFFFFF;
border-radius: 15px;


/* image 22 */

position: absolute;
width: 220px;
height: 120px;
left: -50px;
top: 0px;

background: url(image.png);


/* 선착순 10분!! 상품은 */

position: absolute;
width: 121.77px;
height: 22.9px;
left: 558.19px;
top: 483.34px;

font-family: 'Noto Sans KR';
font-style: normal;
font-weight: 350;
font-size: 15px;
line-height: 22px;
text-align: center;

color: #545454;



/* Group 35 */

position: absolute;
width: 124.89px;
height: 159.24px;
left: 709.1px;
top: 347px;



/* Frame 11 */

position: absolute;
width: 124.89px;
height: 124.89px;
left: 709.1px;
top: 347px;

background: #FFFFFF;
border-radius: 15px;


/* image 18 */

position: absolute;
width: 120px;
height: 120px;
left: 32px;
top: 33px;



/* image 23 */

position: absolute;
width: 121px;
height: 121px;
left: -0.1px;
top: 0px;

background: url(image.png);


/* 발로 개발 */

position: absolute;
width: 116.57px;
height: 22.9px;
left: 717.42px;
top: 483.34px;

font-family: 'Noto Sans KR';
font-style: normal;
font-weight: 350;
font-size: 15px;
line-height: 22px;
text-align: center;

color: #545454;



/* Group 53 */

position: absolute;
width: 587px;
height: 241px;
left: 247px;
top: 566px;



/* Rectangle 4225 */

position: absolute;
width: 587px;
height: 241px;
left: 247px;
top: 566px;

background: rgba(217, 217, 217, 0.5);


/* Vector 1 */

position: absolute;
width: 388px;
height: 122px;
left: calc(50% - 388px/2 + 88.5px);
top: calc(50% - 122px/2 + 257.5px);

border: 8px solid #70C9A0;


/* Rectangle 4226 */

box-sizing: border-box;

position: absolute;
width: 489px;
height: 183px;
left: 302px;
top: 589px;

border-width: 0px 0px 1px 1px;
border-style: solid;
border-color: rgba(0, 0, 0, 0.5);


/* 100k */

position: absolute;
width: 23px;
height: 16px;
left: calc(50% - 23px/2 - 169px);
top: calc(50% - 16px/2 + 174.5px);

font-family: 'Noto Sans KR';
font-style: normal;
font-weight: 400;
font-size: 10px;
line-height: 14px;

color: rgba(0, 0, 0, 0.5);



/* 10k */

position: absolute;
width: 17px;
height: 16px;
left: calc(50% - 17px/2 - 166px);
top: calc(50% - 16px/2 + 236.5px);

font-family: 'Noto Sans KR';
font-style: normal;
font-weight: 400;
font-size: 10px;
line-height: 14px;

color: rgba(0, 0, 0, 0.5);



/* 1k */

position: absolute;
width: 12px;
height: 16px;
left: calc(50% - 12px/2 - 163.5px);
top: calc(50% - 16px/2 + 298.5px);

font-family: 'Noto Sans KR';
font-style: normal;
font-weight: 400;
font-size: 10px;
line-height: 14px;

color: rgba(0, 0, 0, 0.5);



/* 0 */

position: absolute;
width: 6px;
height: 16px;
left: calc(50% - 6px/2 - 160.5px);
top: calc(50% - 16px/2 + 361.5px);

font-family: 'Noto Sans KR';
font-style: normal;
font-weight: 400;
font-size: 10px;
line-height: 14px;

color: rgba(0, 0, 0, 0.5);



/* 2023. 12월 */

position: absolute;
width: 48px;
height: 14px;
left: calc(50% - 48px/2 - 105.5px);
top: calc(50% - 14px/2 + 360.5px);

font-family: 'Noto Sans KR';
font-style: normal;
font-weight: 400;
font-size: 10px;
line-height: 14px;

color: rgba(0, 0, 0, 0.5);



/* 1월 */

position: absolute;
width: 15px;
height: 14px;
left: calc(50% - 15px/2 - 27px);
top: calc(50% - 14px/2 + 360.5px);

font-family: 'Noto Sans KR';
font-style: normal;
font-weight: 400;
font-size: 10px;
line-height: 14px;

color: rgba(0, 0, 0, 0.5);



/* 2월 */

position: absolute;
width: 15px;
height: 14px;
left: calc(50% - 15px/2 + 50px);
top: calc(50% - 14px/2 + 360.5px);

font-family: 'Noto Sans KR';
font-style: normal;
font-weight: 400;
font-size: 10px;
line-height: 14px;

color: rgba(0, 0, 0, 0.5);



/* 3월 */

position: absolute;
width: 15px;
height: 14px;
left: calc(50% - 15px/2 + 133px);
top: calc(50% - 14px/2 + 360.5px);

font-family: 'Noto Sans KR';
font-style: normal;
font-weight: 400;
font-size: 10px;
line-height: 14px;

color: rgba(0, 0, 0, 0.5);



/* 4월 */

position: absolute;
width: 15px;
height: 14px;
left: calc(50% - 15px/2 + 210px);
top: calc(50% - 14px/2 + 360.5px);

font-family: 'Noto Sans KR';
font-style: normal;
font-weight: 400;
font-size: 10px;
line-height: 14px;

color: rgba(0, 0, 0, 0.5);



/* 5월 */

position: absolute;
width: 15px;
height: 14px;
left: calc(50% - 15px/2 + 283px);
top: calc(50% - 14px/2 + 360.5px);

font-family: 'Noto Sans KR';
font-style: normal;
font-weight: 400;
font-size: 10px;
line-height: 14px;

color: rgba(0, 0, 0, 0.5);



/* MyPage_Main_계정명 */

box-sizing: border-box;

position: ;
width: 335px;
height: 182px;
left: 0px;
top: 0px;



/* 프로필 배경 */

position: absolute;
width: 330px;
height: 182px;
left: 0px;
top: 0px;

background: rgba(217, 217, 217, 0.5);
border-radius: 15px;


/* 계정명content */

position: absolute;
width: 270px;
height: 91px;
left: 26px;
top: 16px;



/* Group 26 */

position: absolute;
width: 270px;
height: 91px;
left: 26px;
top: 16px;



/* 떡꼬치대마왕 님 */

position: absolute;
width: 166px;
height: 31px;
left: 130px;
top: 29px;

font-family: 'Noto Sans KR';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 29px;

color: #000000;



/* mocozygood@gmail.com */

position: absolute;
width: 147.65px;
height: 19.88px;
left: calc(50% - 147.65px/2 + 39.32px);
top: calc(50% - 19.88px/2 - 21.06px);

font-family: 'Noto Sans KR';
font-style: normal;
font-weight: 400;
font-size: 10px;
line-height: 14px;
display: flex;
align-items: center;

color: rgba(0, 0, 0, 0.5);



/* 프로필 */

position: absolute;
width: 91px;
height: 91px;
left: calc(50% - 91px/2 - 96px);
top: calc(50% - 91px/2 - 29.5px);

background: #FFFFFF;
border-radius: 50px;


/* Df6SdFqU0AATAUu 1 */

position: absolute;
width: 99px;
height: 91px;
left: calc(50% - 99px/2 + 3.67px);
top: calc(50% - 91px/2);

background: url(Df6SdFqU0AATAUu.jpg);


/* 로고-떡떡떡 */

position: absolute;
width: 45px;
height: 13.86px;
left: calc(50% - 45px/2 - 97.88px);
top: 115px;

transform: matrix(-0.54, 0.84, 0.77, 0.64, 0, 0);


/* Line 1 */

box-sizing: border-box;

position: absolute;
width: 41.17px;
height: 0px;
left: calc(50% - 41.17px/2 - 96.16px);
top: calc(50% - 0px/2 + 31.96px);

border: 1px solid #000000;
transform: matrix(-0.54, 0.84, 0.77, 0.64, 0, 0);


/* Rectangle 2 */

position: absolute;
width: 14.36px;
height: 13.86px;
left: calc(50% - 14.36px/2 - 126.2px);
top: calc(50% - 13.86px/2 + 51.41px);

background: #70C9A0;
border-radius: 50px;
transform: matrix(-0.54, 0.84, 0.77, 0.64, 0, 0);


/* Rectangle 7 */

position: absolute;
width: 14.36px;
height: 13.86px;
left: calc(50% - 14.36px/2 - 119.96px);
top: calc(50% - 13.86px/2 + 41.57px);

background: #9BCFFF;
border-radius: 50px;
transform: matrix(-0.54, 0.84, 0.77, 0.64, 0, 0);


/* Rectangle 3 */

position: absolute;
width: 14.36px;
height: 13.86px;
left: calc(50% - 14.36px/2 - 113.2px);
top: calc(50% - 13.86px/2 + 30.93px);

background: #F0E3CE;
border-radius: 50px;
transform: matrix(-0.54, 0.84, 0.77, 0.64, 0, 0);


/* 매너게이지 */

position: absolute;
width: 179.05px;
height: 29.81px;
left: 130px;
top: 121px;



/* Line 13 */

position: absolute;
width: 166.26px;
height: 0px;
left: calc(50% - 166.26px/2 + 52.35px);
top: calc(50% - 0px/2 + 59.81px);

border: 10px solid #F08A8A;


/* 100 */

position: absolute;
width: 19px;
height: 16px;
left: 290.05px;
top: 121px;

font-family: 'Noticia Text';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 16px;

color: rgba(0, 0, 0, 0.5);



/* 0 */

position: absolute;
width: 7px;
height: 16px;
left: 130px;
top: 121px;

font-family: 'Noticia Text';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 16px;

color: rgba(0, 0, 0, 0.5);



/* 매너 점수 */

position: absolute;
width: 59px;
height: 22px;
left: calc(50% - 59px/2 - 77px);
top: calc(50% - 22px/2 + 48px);

font-family: 'Noto Sans KR';
font-style: normal;
font-weight: 400;
font-size: 15px;
line-height: 22px;
/* identical to box height */

color: #000000;



/* Group 108 */

position: absolute;
width: 330px;
height: 654px;
left: 0px;
top: 223px;



/* Rectangle 4250 */

position: absolute;
width: 330px;
height: 78px;
left: 0px;
top: 223px;

background: #D9D9D9;


/* MyPage_Main_Menu */

position: absolute;
width: 330px;
height: 653px;
left: 0px;
top: 224px;



/* 마이페이지 */

position: absolute;
width: 83px;
height: 27px;
left: calc(50% - 83px/2 - 90.5px);
top: calc(50% - 27px/2 - 289px);

font-family: 'Noto Sans KR';
font-style: normal;
font-weight: 400;
font-size: 15px;
line-height: 22px;

color: #000000;



/* Group */

position: absolute;
left: 87.13%;
right: 9.19%;
top: 4.25%;
bottom: 92.48%;



/* Vector */

position: absolute;
width: 12.13px;
height: 21.33px;
left: calc(50% - 12.13px/2 + 128.6px);
top: calc(50% - 21.33px/2 - 288.07px);

background: #000000;


/* 내 프로필 */

position: absolute;
width: 71px;
height: 27px;
left: calc(50% - 71px/2 - 96.5px);
top: calc(50% - 27px/2 - 210px);

font-family: 'Noto Sans KR';
font-style: normal;
font-weight: 400;
font-size: 15px;
line-height: 22px;

color: #000000;



/* Line 5 */

position: absolute;
width: 330px;
height: 0px;
left: calc(50% - 330px/2);
top: calc(50% - 0px/2 - 169.5px);

border: 1px solid rgba(0, 0, 0, 0.3);


/* Group */

position: absolute;
left: 87.13%;
right: 9.19%;
top: 16.36%;
bottom: 80.37%;



/* Vector */

position: absolute;
width: 12.13px;
height: 21.33px;
left: calc(50% - 12.13px/2 + 128.6px);
top: calc(50% - 21.33px/2 - 208.97px);

background: #000000;


/* 모임 관리 */

position: absolute;
width: 71px;
height: 28px;
left: calc(50% - 71px/2 - 96.5px);
top: calc(50% - 28px/2 - 130.5px);

font-family: 'Noto Sans KR';
font-style: normal;
font-weight: 400;
font-size: 15px;
line-height: 22px;

color: #000000;



/* Group */

position: absolute;
left: 87.13%;
right: 9.19%;
top: 28.48%;
bottom: 68.26%;



/* Vector */

position: absolute;
width: 12.13px;
height: 21.33px;
left: calc(50% - 12.13px/2 + 128.6px);
top: calc(50% - 21.33px/2 - 129.88px);

background: #000000;


/* Line 6 */

position: absolute;
width: 330px;
height: 0px;
left: calc(50% - 330px/2);
top: calc(50% - 0px/2 - 248.5px);

border: 1px solid rgba(0, 0, 0, 0.3);


/* Group */

position: absolute;
left: 87.13%;
right: 9.19%;
top: 4.25%;
bottom: 92.48%;



/* Vector */

position: absolute;
width: 12.13px;
height: 21.33px;
left: calc(50% - 12.13px/2 + 128.6px);
top: calc(50% - 21.33px/2 - 288.07px);

background: #000000;


/* Line 8 */

position: absolute;
width: 330px;
height: 0px;
left: calc(50% - 330px/2);
top: calc(50% - 0px/2 + 66.5px);

border: 1px solid rgba(0, 0, 0, 0.3);


/* Group */

position: absolute;
left: 87.13%;
right: 9.19%;
top: 16.36%;
bottom: 80.37%;



/* Vector */

position: absolute;
width: 12.13px;
height: 21.33px;
left: calc(50% - 12.13px/2 + 128.6px);
top: calc(50% - 21.33px/2 - 208.97px);

background: #000000;


/* Line 7 */

position: absolute;
width: 330px;
height: 0px;
left: calc(50% - 330px/2);
top: calc(50% - 0px/2 - 91.5px);

border: 1px solid rgba(0, 0, 0, 0.3);


/* Group */

position: absolute;
left: 87.13%;
right: 9.19%;
top: 28.48%;
bottom: 68.26%;



/* Vector */

position: absolute;
width: 12.13px;
height: 21.33px;
left: calc(50% - 12.13px/2 + 128.6px);
top: calc(50% - 21.33px/2 - 129.88px);

background: #000000;


/* 결제 및 정산 내역 관리 */

position: absolute;
width: 168px;
height: 27px;
left: calc(50% - 168px/2 - 48px);
top: calc(50% - 27px/2 - 51px);

font-family: 'Noto Sans KR';
font-style: normal;
font-weight: 400;
font-size: 15px;
line-height: 22px;

color: #000000;



/* Line 9 */

position: absolute;
width: 330px;
height: 0px;
left: calc(50% - 330px/2);
top: calc(50% - 0px/2 - 12.5px);

border: 1px solid rgba(0, 0, 0, 0.3);


/* Group */

position: absolute;
left: 87.13%;
right: 9.19%;
top: 40.59%;
bottom: 56.14%;



/* Vector */

position: absolute;
width: 12.13px;
height: 21.33px;
left: calc(50% - 12.13px/2 + 128.6px);
top: calc(50% - 21.33px/2 - 50.78px);

background: #000000;


/* 찜 */

position: absolute;
width: 16px;
height: 27px;
left: calc(50% - 16px/2 - 124px);
top: calc(50% - 27px/2 + 28px);

font-family: 'Noto Sans KR';
font-style: normal;
font-weight: 400;
font-size: 15px;
line-height: 22px;

color: #000000;



/* Group */

position: absolute;
left: 87.13%;
right: 9.19%;
top: 52.7%;
bottom: 44.03%;



/* Vector */

position: absolute;
width: 12.13px;
height: 21.33px;
left: calc(50% - 12.13px/2 + 128.6px);
top: calc(50% - 21.33px/2 + 28.32px);

background: #000000;


/* 리뷰 */

position: absolute;
width: 34px;
height: 27px;
left: calc(50% - 34px/2 - 115px);
top: calc(50% - 27px/2 + 107px);

font-family: 'Noto Sans KR';
font-style: normal;
font-weight: 400;
font-size: 15px;
line-height: 22px;

color: #000000;



/* Line 10 */

position: absolute;
width: 330px;
height: 0px;
left: calc(50% - 330px/2);
top: calc(50% - 0px/2 + 146.5px);

border: 1px solid rgba(0, 0, 0, 0.3);


/* Group */

position: absolute;
left: 87.13%;
right: 9.19%;
top: 64.82%;
bottom: 31.92%;



/* Vector */

position: absolute;
width: 12.13px;
height: 21.33px;
left: calc(50% - 12.13px/2 + 128.6px);
top: calc(50% - 21.33px/2 + 107.41px);

background: #000000;


/* 채팅 기록 */

position: absolute;
width: 71px;
height: 28px;
left: calc(50% - 71px/2 - 96.5px);
top: calc(50% - 28px/2 + 185.5px);

font-family: 'Noto Sans KR';
font-style: normal;
font-weight: 400;
font-size: 15px;
line-height: 22px;

color: #000000;



/* Line 11 */

position: absolute;
width: 330px;
height: 0px;
left: calc(50% - 330px/2);
top: calc(50% - 0px/2 + 225.5px);

border: 1px solid rgba(0, 0, 0, 0.3);


/* Group */

position: absolute;
left: 87.13%;
right: 9.19%;
top: 76.93%;
bottom: 19.8%;



/* Vector */

position: absolute;
width: 12.13px;
height: 21.33px;
left: calc(50% - 12.13px/2 + 128.6px);
top: calc(50% - 21.33px/2 + 186.51px);

background: #000000;
