/* 이용약관 */
.Login_page{
    box-sizing: border-box;
    position: relative;
    display: flex;
    justify-content: center;
    /* background: #FFFFFF; */
    /* border: 1px solid #21A2EB; */
    border-radius: 2px;
}

/* 이용약관 컨텐츠 */
.Login-content{
    box-sizing: border-box;
    /* border: 1px solid red; */
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 550px;
    height: 100%;
    padding-top: 4rem;
    padding-bottom: 8rem;
    /* left: 726px;
    top: 145px; */
}

.custom-checkbox {
    cursor: pointer;
}

.checked{
    box-sizing: border-box;
    width: 100%;
    font-size: larger;
    font-weight: 800;
}

.checked span{
    padding-right: 100px;
}

.checked-content{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.start-btn{
    box-sizing: border-box;
    position: relative;
    width: 360px;
    height: 50px;
    background: #F0E3CE;
    border-radius: 10px;
    border: 0;
    /* margin-bottom: 2rem; */
    color: #3d3d3d;
    font-size: large;
    font-weight: 800;
}

.start-account{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 100px 0px;
}

.start-btn:hover{
    background-color: #70C9A0;
    color: white;
}

img{
    width: 150px;
}
.detail-terms{
    box-sizing: border-box;
    margin: 20px;
}

pre{
    width: 100%;
    white-space: pre-wrap;
}
